@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

*, :before, :after {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-shadow: 1px 1px 1px #000;
}

.home-page {
  color: #fff;
  transition: opacity 1s ease-in-out;
}

.home-page.loading {
  opacity: 0;
}

.home-page.loaded {
  opacity: 1;
}

.dashboard {
  background: #fff;
  color: #000;
  height: 100%;
}

.bg-accent {
  background-color: #0a580a;
}